<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node Monitor UI</title>
    <link rel="stylesheet" href="/static/css/all.css" type="text/css" />
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
</head>
<body>
    <div id="app">
        <div id="navi">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Node monitor</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><router-link to="/dashboard">Dashboard</router-link></li>
                            <li><router-link to="/nodes">Nodes</router-link></li>
                            <li><router-link to="/alarms">Alarms</router-link></li>
                            <li><router-link to="/settings">Settings</router-link></li>
                            <!--li :class="{'active': idx == curIndex}" @click="enableApp(idx)" v-for="(app, idx) in apps">
                                <a href="#">{{app.title}}</a>
                            </li-->
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div style="margin:0px 20px 0 20px;">
            <router-view></router-view>
        </div>

        <div id="footer" class="footer">Copyright &copy; 2018</div>
    </div>
</body>
<script type="text/javascript" src="/static/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/static/lib/vue-router/dist/vue-router.min.js"></script>
<script type="text/javascript" src="/static/lib/echarts/dist/echarts.simple.min.js"></script>
<script type="text/javascript" src="/static/lib/vue-echarts/dist/vue-echarts.js"></script>
<script type="text/javascript" src="/static/js/vue-apps.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        Vue.component('chart', VueECharts)
        const app = new Vue({router}).$mount('#app')
    })
</script>
</html>
